*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

### Intellij IDEA ###

## File-based project format
*.ipr
*.iws

## Directory-based project format
.idea/
/*.iml

## Additional for IntelliJ
out/
